.card {
  height: 580px;
  width: 33, 33%;
  background: white;
  position: relative;
  border-left: 3px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.card-cart {
  width: 50px;
}

.card-beer {
  height: 350px;
  align-self: center;
}

.card-title,
.card-ingredient-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.card-price-container {
  border: 2px solid black;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  transition: 0.3s;
  margin-bottom: 5px;
}

.card-price-container:hover {
  background: black;
  color: white;
}

.card-ingredient-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3px solid black;
  background: white;
  padding: 30px 20px;
  height: 190px;
  transform: translateY(110%);
  transition: transform 0.4s;
}

.card-beer:hover ~ .card-ingredient-container {
  transform: translateY(0);
}
